<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Main Page</title>
    <link rel="stylesheet" th:href="@{css/main/index.style.css}">
</head>

<body>
<div class="container">
    <h1>CRUD</h1>
    <nav>
        <ul class="buttons">
            <li><a th:href="@{'/students'}" id="students">Students</a></li>
            <li><a th:href="@{'/instructors'}" id="courses">Instructors</a></li>
        </ul>
    </nav>
</div>
</body>

</html>
