<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Books List</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
</head>
<body>
<h1>Books</h1>
<a href="/books/new">Add New Book</a>
<table>
    <thead>
    <tr>
        <th>Title</th>
        <th>Description</th>
        <th>Year</th>
        <th>Author</th>
        <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="book : ${books}">
        <td th:text="${book.title}">Title</td>
        <td th:text="${book.description}">Description</td>
        <td th:text="${book.year}">Year</td>
        <td th:text="${book.author}">Author</td>
        <td>
            <a th:href="@{|/books/edit/${book.id}|}">Edit</a>
            <a th:href="@{|/books/delete/${book.id}|}" onclick="return confirm('Are you sure?')">Delete</a>
        </td>
    </tr>
    </tbody>
</table>
</body>
</html>
